.headline{
    background-color: darkred;
    height: 7vh;
     
}

footer {
    background-color: rgb(139, 136, 136);
    color: white; 
    padding: 20px 0;
    height: 15vh;
}

.bsul{
    float: left;
    font-size: 3vh;
    width: 55px;
    padding: 1px 5px;
    position: absolute;
    left: 70px;
    bottom: 14px;
    
}


header h1{
    font-size: 3vh;
    font-weight: bold;
    font-family: Poppins;
    color: rgb(189, 12, 47);
    cursor: pointer;
    padding-left: 10px;
    margin: 0 110px 0 110px;
}



.icons{
    padding: 4px 12px;
    margin-left: 90%;
    color: #f1f1f1;
    font-size: 20px;

}


.fb a{
    font-weight: normal;
    font-family: Poppins;
    padding: 4px 12px;
    cursor: pointer;
    color: white;
    
    
}



.fb:hover a{
    color: rgb(70, 7, 7);
    background-color: none;
    transition: 0.50s;
}

.email a{
    font-weight: normal;
    font-family: Poppins;
    padding: 4px 12px;
    cursor: pointer;
    margin: right 90%;
    color: white;

}

.email:hover a{
    color: rgb(70, 7, 7);
    background-color: none;
    transition: 0.50s;

}


.container-fluid {
    display: inline-block;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #ebebe7;
    padding-top: 20px;
    padding-bottom: 10px;

}

header, nav {
    display: inline-block;  
}



ul {
    list-style-type: none;
    font-size: 11px;
    font-family: Poppins;
    font-weight: bolder;
    color: rgb(104, 2, 2);
}

li {
    display: inline-block;
    cursor: pointer;
    margin: 0 0 0 10px;
    padding: 0;
    width: 100px;
}

li:hover{
    color: crimson;
    transition: 0.40s;
}

img{
    width: 100%;
    height: 50%;

    
    
}

.aboutdp{
    cursor: pointer;
}

.dropdown1{
    position: relative;
    display: inline-block;
}

.dpcontent1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dpcontent1{
    font-family:Poppins;
    font-weight: normal;
    font-size: 13px;
}
.dpcontent2{
    font-family:Poppins;
    font-weight: normal;
    font-size: 13px;
}

.dpcontent3{
    font-family:Poppins;
    font-weight: normal;
    font-size: 13px;
}
.dpcontent1 a{
  color: black;
  padding: 15px 30px;
  margin: 0;
  text-decoration: none;
  display: block;
}

.dpcontent1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dpcontent1 {
  display: block;}

.dropdown1:hover .aboutdp{
    background-color: none;
    transition: 0.40s;
}


.facidp{
    cursor: pointer;
    margin-right: 30px;
   margin-left: 0;
}

.dropdown2{
    position: relative;
    display: inline-block;
}

.dpcontent2{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dpcontent2 a{
  color: black;
  padding: 15px 30px;
  margin: 0;
  text-decoration: none;
  display: block;
}

.dpcontent2 a:hover {background-color: #f1f1f1}

.dropdown2:hover .dpcontent2 {
  display: block;}

.dropdown2:hover .facidp{
    background-color: none;
    transition: 0.40s;
}



.coursedp{
    cursor: pointer;
}

.dropdown3{
    position: relative;
    display: inline-block;
    
}

.dpcontent3{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dpcontent3 a{
  color: black;
  padding: 15px 30px;
  margin: 0;
  text-decoration: none;
  display: block;
  
}

.dpcontent3 a:hover {
    background-color: #f1f1f1;
}

.dropdown3:hover .dpcontent3 {
  display: block;
}

.dropdown3:hover .coursedp{
    background-color: none;
    transition: 0.40s;
}












