.headline{
    background-color: darkred;
    height: 7vh;
    
    
}

header{
    font-size: 3vh;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    margin-left: 100px;
    cursor: pointer;
}


.container-fluid {
    display: inline-block;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #f2f2f2;
    padding-top: 10px;
}

header, nav {
    display: inline-block;   
}

ul {
    list-style-type: none;
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(12, 11, 11);
}

li {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100px;
    border: none;
    
    
      
}

li:hover{
    color: crimson;
}

img{
    width: 100%;
    
}











